#OS junk files
*.DS_Store

#Resources
Resources/Personal-Narration
Resources/Suicidal
Resources/TokenizedTextFiles
Resources/Database
#Documents
Docs

#idea
*.idea

#yotube creddentials
Source/YotubeApi/youtube-v3-discoverydocument.json
Source/YotubeApi/client_secrets.json
Source/YotubeApi/YotubeApiCaller.py-oauth2.json

Resources/CommentsFiles/Personal-Narration/
