#OS junk files
*.DS_Store

#Resources
resources

#TEXT FILES REPOSITORY
TextFiles

#TOKENFILES
TokenizedTextFiles

#Documents
Docs

#RESULT FILES
Results

#idea
*.idea

#yotube creddentials
Source/YotubeApi/youtube-v3-discoverydocument.json
Source/YotubeApi/client_secrets.json
Source/YotubeApi/youtube-v3-discoverydocument.json
